stages:
  - test
  - build_and_push

variables:
  PYTHON_VERSION: "3.10"
  VENV_DIR: ".venv"
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_REGISTRY: "registry.infosec.it.ubc.ca"
  IMAGE_NAME: "ubc/cybersecurity/services/ciso/itsa-test-project"
  IMAGE_TAG: "latest"
  DOCKER_USERNAME: $CI_REGISTRY_USER
  DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD

default:
  image: python:${PYTHON_VERSION}

services:
  - name: docker:19-dind
    alias: docker

test:
  stage: test
  script:
    # Install Homebrew
    - if ! command -v brew &>/dev/null; then
        echo "Installing Homebrew";
        NON_ROOT_HOME="/home/linuxbrew";
        mkdir -p $NON_ROOT_HOME && curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash;
        echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.bashrc;
        eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)";
      fi
    - export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
    - eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

    # Verify Homebrew installation
    - brew --version

    # Set up Python environment
    - python3 -m venv ${VENV_DIR}
    - source ${VENV_DIR}/bin/activate
    - pip install --upgrade pip

    # Install Poetry
    - curl -sSL https://install.python-poetry.org | python3 -
    - export PATH="/root/.local/bin:$PATH"  # Add Poetry to PATH

    # Verify Poetry installation
    - poetry --version
    - poetry env use python3

    # Install dependencies with Makefile
    - make deps || { echo "Makefile dependency installation failed"; exit 1; }
    - make test || { echo "Tests failed"; exit 1; }
    - make build || { echo "Build failed"; exit 1; }

  artifacts:
    paths:
      - .
      - dist/
    expire_in: 1 day

build_and_push:
  stage: build_and_push
  tags:
    - docker-in-docker # this forces the CI job to on the dedicated DinD runner
  image: docker:20.10  # Use a Docker image with Docker CLI preinstalled
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: "tcp://docker:2375"  # Explicitly set the Docker host
  script:
    # Authenticate with the Docker registry
    - echo $DOCKER_PASSWORD | docker login $DOCKER_REGISTRY --username $DOCKER_USERNAME --password-stdin

    # Build the Docker image
    - docker build -t $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG .

    # Push the Docker image to the registry
    - docker push $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
