stages:
  - build_and_test_and_deploy

variables:
  PYTHON_VERSION: "3.10"
  VENV_DIR: ".venv"
  DOCKER_REGISTRY: "registry.infosec.it.ubc.ca"
  IMAGE_NAME: "ubc/cybersecurity/services/ciso/itsa-test-project"
  IMAGE_TAG: "latest"
  DOCKER_USERNAME: $CI_REGISTRY_USER
  DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD

default:
  image: python:${PYTHON_VERSION}

services:
  - name: docker:24-dind
    alias: docker
    entrypoint: ["/bin/sh", "-c", "while :; do sleep 10; done"]

before_script:
  - echo "Checking system architecture"
  - uname -m

  # Verify Python environment
  - python3 --version
  - apt-get update && apt-get install -y python3-venv
  - python3 -m venv ${VENV_DIR}
  - source ${VENV_DIR}/bin/activate
  - pip install --upgrade pip

  # Install Poetry (dependency management)
  - curl -sSL https://install.python-poetry.org | python3 -
  - export PATH="$HOME/.local/bin:$PATH"

build_and_test_and_deploy:
  stage: build_and_test_and_deploy
  image:
    name: gcr.io/kaniko-project/executor:latest
    entrypoint: [""]
  script:
    # Install dependencies
    - echo "Installing dependencies"
    - make deps || { echo "Makefile dependency installation failed"; exit 1; }

    # Set up Kaniko authentication
    - echo "Setting up Docker authentication for Kaniko"
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$DOCKER_REGISTRY\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json

    # Build and push the Docker image using Kaniko
    - echo "Building and pushing Docker image with Kaniko"
    - /kaniko/executor --context . --dockerfile ./Dockerfile --destination $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG || { echo "Kaniko build or push failed"; exit 1; }

  # artifacts:
  #   when: always
  #   paths:
  #     - dist/example-0.0.0-py3-none-any.whl
  #   expire_in: 1 day
