stages:
  - test
  - build_and_push

variables:
  PYTHON_VERSION: "3.10"
  VENV_DIR: ".venv"
  DOCKER_REGISTRY: "registry.infosec.it.ubc.ca"
  IMAGE_NAME: "ubc/cybersecurity/services/ciso/itsa-test-project"
  IMAGE_TAG: "latest"
  DOCKER_USERNAME: $CI_REGISTRY_USER
  DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD

default:
  image: python:${PYTHON_VERSION}

services:
  - name: docker:24-dind
    alias: docker

# Stage 1: Test and Build Python Package
test:
  stage: test
  script:
    # Set up Python environment
    - python3 -m venv ${VENV_DIR}
    - source ${VENV_DIR}/bin/activate
    - pip install --upgrade pip

    # Install dependencies and run tests
    - echo "Installing dependencies with Makefile"
    - make deps || { echo "Makefile dependency installation failed"; exit 1; }
    - echo "Running tests"
    - make test || { echo "Tests failed"; exit 1; }

    # Build Python package
    - echo "Building package"
    - make build || { echo "Build failed"; exit 1; }

  artifacts:
    paths:
      - .  # Include the project directory
      - dist/
    expire_in: 1 day

# Stage 2: Build and Push Docker Image
build_and_push:
  stage: build_and_push
  image:
    name: gcr.io/kaniko-project/executor:latest
    entrypoint: ["/kaniko/executor"]
  script:
    # Set up Docker authentication for Kaniko
    - echo "{\"auths\":{\"$DOCKER_REGISTRY\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json

    # Build and push the Docker image using Kaniko
    - --context . --dockerfile ./Dockerfile --destination $DOCKER_REGISTRY/$IMAGE_NAME:$IMAGE_TAG
