stages:
  - build_and_test_and_deploy

variables:
  PYTHON_VERSION: "3.10"
  VENV_DIR: ".venv"
  DOCKER_DRIVER: overlay2

# default:
#   image: python:${PYTHON_VERSION}

default:
  image: docker:latest  # Use Docker's official image with Docker support

before_script:
  - echo "Checking if Homebrew is installed"
  - if ! command -v brew &>/dev/null; then
      echo "Installing Homebrew";
      NON_ROOT_HOME="/home/linuxbrew";
      mkdir -p $NON_ROOT_HOME && curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash;
      echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.bashrc;
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)";
    fi
  - export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
  - eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  - echo "Homebrew path setup completed"
  - echo "Installing python3-venv package"
  - apt-get update && apt-get install -y python3-venv || echo "Skipping python3-venv installation for non-root environment"
  - echo "Ensuring Poetry is in PATH"
  - curl -sSL https://install.python-poetry.org | python3 -  # Install Poetry
  - export PATH="$HOME/.local/bin:$PATH"  # Add Poetry to the PATH
  - echo "Poetry installed and path set"
  - echo "Setting up alias for poetry"
  - alias poetry='/root/.local/bin/poetry'  # Create alias for Poetry

build_and_test_and_deploy:
  stage: build_and_test_and_deploy
  script:
    - echo "Setting up environment"
    - python3 -m venv ${VENV_DIR}
    - source ${VENV_DIR}/bin/activate
    - pip install --upgrade pip
    - echo "Installing dependencies with Makefile"
    - make deps || { echo "Makefile dependency installation failed"; exit 1; }
    - echo "Running check test and build"
    - make deps test build
    - echo "Building Docker image"
    - docker login registry.infosec.it.ubc.ca -u $DOCKER_USERNAME -p $DOCKER_PASSWORD || { echo "Docker login failed"; exit 1; }
    - docker build -t target-make-python-devex:latest registry.infosec.it.ubc.ca/ubc/cybersecurity/services/ciso/itsa-test-project . || { echo "Docker build failed"; exit 1; }
    - echo "Pushing Docker image"
    - docker push registry.infosec.it.ubc.ca/ubc/cybersecurity/services/ciso/itsa-test-project:latest || { echo "Docker push failed"; exit 1; }
  # artifacts:
  #   when: always
  #   paths:
  #     - dist/example-0.0.0-py3-none-any.whl  # Ensure the .whl file is uploaded as an artifact
  # expire_in: 1 day
  variables:
    DOCKER_USERNAME: $CI_REGISTRY_USER
    DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD
