stages:
  - deps
  - check
  - test
  - build

# Define the agent to be used for the pipeline
# Replace 'my-agent' with the name of your agent
# gitlab-agent:
#   name: "my-agent"
#   environment: "non-prod"  # Optional: specify environment if needed

variables:
  PYTHON_VERSION: "3.10"
  VENV_DIR: ".venv"

# Default image to be used in the pipeline
default:
  image: python:${PYTHON_VERSION}

# Dependency installation stage
deps:
  stage: deps
  script:
    - echo "Setting up environment"
    - python -m venv ${VENV_DIR}
    - source ${VENV_DIR}/bin/activate
    - pip install poetry
    - poetry install
    - echo "Installing Homebrew"
    - apt-get update && apt-get install -y build-essential curl file git
    - /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    - eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    - echo "Installing dependencies with Makefile"
    - make deps
  artifacts:
    paths:
      - ${VENV_DIR}
    expire_in: 1 day

# Check environment and paths
check:
  stage: check
  script:
    - echo "Showing environment paths"
    - echo "${PATH}"
    - command -v pyenv || true
    - command -v poetry || true
    - command -v python3 || true
    - echo "Running make check"
    - make check

# Testing stage
test:
  stage: test
  script:
    - source ${VENV_DIR}/bin/activate
    - echo "Running tests"
    - make test
  artifacts:
    when: always
    paths:
      - tests/reports/

# Build stage
build:
  stage: build
  script:
    - source ${VENV_DIR}/bin/activate
    - echo "Building the project"
    - make build
  artifacts:
    paths:
      - dist/
      - build/
