stages:
  - build_and_test
  - deploy

variables:
  PYTHON_VERSION: "3.10"
  VENV_DIR: ".venv"

default:
  image: python:${PYTHON_VERSION}

before_script:
  - echo "Checking if Homebrew is installed"
  - if ! command -v brew &>/dev/null; then
      echo "Installing Homebrew";
      NON_ROOT_HOME="/home/linuxbrew";
      mkdir -p $NON_ROOT_HOME && curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash;
      echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> ~/.bashrc;
      eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)";
    fi
  - export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
  - eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  - echo "Homebrew path setup completed"
  - echo "Installing python3-venv package"
  - apt-get update && apt-get install -y python3-venv || echo "Skipping python3-venv installation for non-root environment"
  - echo "Ensuring Poetry is in PATH"
  - curl -sSL https://install.python-poetry.org | python3 -  # Install Poetry
  - export PATH="$HOME/.local/bin:$PATH"  # Add Poetry to the PATH
  - echo "Poetry installed and path set"
  - echo "Setting up alias for poetry"
  - alias poetry='/root/.local/bin/poetry'  # Create alias for Poetry

build_and_test:
  stage: build_and_test
  script:
    - echo "Setting up environment"
    - python3 -m venv ${VENV_DIR}
    - source ${VENV_DIR}/bin/activate
    - pip install --upgrade pip
    - echo "Installing dependencies with Makefile"
    - make deps || { echo "Makefile dependency installation failed"; exit 1; }

    - echo "Showing environment paths"
    - echo "${PATH}"
    - python3 --version
    - command -v pyenv || true
    - command -v poetry || echo "Poetry not found"
    - command -v python3 || true
    - echo "Running make check"
    - export PATH="$HOME/.local/bin:$PATH"  # Ensure Poetry is in the PATH for the check stage
    - make check || { echo "Make check failed"; exit 1; }

    - echo "Running tests"
    - make test || { echo "Tests failed"; exit 1; }
  artifacts:
    when: always
    paths:
      - tests/reports/
    expire_in: 1 day

deploy:
  stage: deploy
  script:
    - echo "Building the project"
    - make build || { echo "Build failed"; exit 1; }

    - echo "Logging into Docker registry"
    - docker login registry.infosec.it.ubc.ca -u $DOCKER_USERNAME -p $DOCKER_PASSWORD || { echo "Docker login failed"; exit 1; }
    - echo "Building Docker image"
    - docker build -t registry.infosec.it.ubc.ca/ubc/cybersecurity/services/ciso/itsa-test-project . || { echo "Docker build failed"; exit 1; }
    - echo "Pushing Docker image"
    - docker push registry.infosec.it.ubc.ca/ubc/cybersecurity/services/ciso/itsa-test-project || { echo "Docker push failed"; exit 1; }
  variables:
    DOCKER_USERNAME: $CI_REGISTRY_USER
    DOCKER_PASSWORD: $CI_REGISTRY_PASSWORD
